[submodule "third_party/bln_log"]
	path = third_party/bln_log
	url = https://github.com/franklange/bln_log.git
[submodule "third_party/bln_net"]
	path = third_party/bln_net
	url = https://github.com/franklange/bln_net.git
[submodule "third_party/libsndfile"]
	path = third_party/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "third_party/portaudio"]
	path = third_party/portaudio
	url = https://github.com/PortAudio/portaudio.git